.nav__cont {
	position: relative;
	width: 100px;
	top: 0;
	height: 100vh;
	z-index: 100;
	background-color: $tertiary;
	overflow: hidden;
	transition: width 0.3s ease;
	cursor: pointer;
	box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.2);
	&:hover {
		width: 278px;
		.sidebar-title {
			display: flex;
		}
		.nav__items {
			display: inline-block;
			justify-content: left;
		}
		.badge-info {
			position: relative;
			top: 1rem;
			right: 1.3rem;
		}
		.sidebar-heading {
			transition: width 0.3s ease;
		}
	}
	.sidebar-heading {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem 0;
		.material-symbols-outlined {
			font-size: 2rem;
		}
	}
	.sidebar-title {
		display: none;
		margin-left: 2rem;
		.material-symbols-outlined {
			font-size: 20px;
		}
	}
	.sidebar-dropdown {
		text-align: left;
		margin: 1rem 0;
	}

	.dropdown-toggle {
		display: flex;

		&::after {
			display: none;
		}
	}
	.badge-info {
		background-color: $info;
		border-radius: 50%;
		top: 2.7rem;
		right: 0.8rem;
		position: absolute;
	}
	.nav {
		list-style-type: none;
		color: $white;
		display: flex;
		flex-direction: column;
		&:first-child {
			padding-top: 1.5rem;
		}
	}

	.nav__items {
		padding-bottom: 2rem;
		display: flex;
		justify-content: center;

		&:hover {
			opacity: 1;
		}

		.btn-sidebar {
			width: 100%;
		}
	}
	.material-symbols-outlined {
		font-size: 2.5rem;
		padding: 0;
	}
}
