.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.sidebar {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	width: 5rem;
	height: 100%;
	position: absolute;
	z-index: 99;
	background: $tertiary;
	padding: 0;
	color: $white;
	transition: 0.25s ease-in-out;
	.sidebar-heading {
		.material-symbols-outlined {
			font-size: 1.5rem;
			padding: 0;
		}
	}
	&.expanded {
		width: 17.3rem;
		transition: 0.25s ease-in-out;
		.nav-list {
			width: 17.3rem;
			justify-content: left;
			.sidebar-title {
				display: flex;
				align-items: center;
			}
		}
	}
	.material-symbols-outlined {
		font-size: 2rem;
		padding: 0;
	}
	.badge-info {
		background-color: $info;
		border-radius: 50%;
		position: relative;
		top: 0.9rem;
		right: 1rem;
	}
	.btn-sidebar {
		width: 100%;
	}
	.nav-list {
		display: flex;
		flex-direction: column;
		padding: 0;
		width: 5rem;

		&-item {
			overflow: hidden;
			justify-content: space-between;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0.9rem 0;
			width: 100%;
			white-space: nowrap;
			line-height: 1rem;
		}
		.sidebar-title {
			display: none;
		}
	}

	.dropdown-container {
		display: none;
		background-color: #262626;
		padding-left: 8px;
	}
	.main {
		margin-left: 200px; /* Same as the width of the sidenav */
		font-size: 20px; /* Increased text to enable scrolling */
		padding: 0px 10px;
	}
}
