.btn {
	border: transparent;
}

.btn-primary {
	background-color: $primary;
	color: $white;
	display: flex;
	border: transparent;
	padding: 1rem;
	&:hover {
		transition: 0.25s ease-in-out;
		background-color: $hover-blue;
	}
	&:disabled {
		opacity: 0.55;
		cursor: help;
	}
}

.btn-secondary {
	background-color: $white;
	color: $black;
	margin: 0 1rem;
	&:hover {
		transition: 0.25s ease-in-out;
		color: $tertiary;
		border-bottom: 1px solid $tertiary;
	}
}

.btn-sidebar {
	background-color: transparent;
	padding: 1rem;
	color: $white;
	display: inline-flex;
	align-items: center;
	transition: 0.5s ease-in-out;
	&:hover {
		transition: 0.5s ease-in-out;
		background-color: $hover-blue;
	}
}
