@import "variables/variables";
@import "mixins/mixins";

.App {
  text-align: center;
  color: #4bb8e7;
  font-family: $font-family-base;
}

body {
  color: $tertiary;
  font-family: $font-family-base;
  font-size: 16px;
}
